.place__image {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

@media (max-width: 1279.9px) {
  .place__image {
    height: 440px;
  }
}

@media (max-width: 1023.9px) {
  .place__image {
    height: 340px;
  }
}

@media (max-width: 767.9px) {
  .place__image {
    height: 320px;
  }
}