.photo-grid__item {
  height: 213px;
  overflow: hidden;
}

@media (max-width: 1279.9px) {
  .photo-grid__item {
    height: 225px;
  }
}

@media (max-width: 1023.9px) {
  .photo-grid__item {
    height: 264px;
  }
}

@media (max-width: 767.9px) {
  .photo-grid__item {
    height: 250px;
  }
}

@media (max-width: 424.9px) {
  .photo-grid__item {
    height: 216px;
  }
}