.header {
  width: 1280px;
  margin: 0 auto;
  transition: .5s ease-in-out;
}

@media (max-width: 1296px) {
  .header {
    width: 1024px;
  }
}

@media (max-width: 1040px) {
  .header {
    width: 768px;
  }
}

@media (max-width: 784px) {
  .header {
    min-width: 320px;
    width: 100%;
  }
}