.header {
  max-width: 1280px;
  margin: 0 auto;
  transition: .5s ease-in-out;
}

@media (max-width: 1280px) {
  .header {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .header {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .header {
    min-width: 288px;
    width: 100%;
  }
}