.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

@media (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    padding: 0 16px;
  }
}