.intro__text {
  max-width: 690px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 768px) {
  .intro__text {
    min-width: 288px;
    font-size: 16px;
    line-height: 26px;
  }
}